*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*.bak
*.LCK
Thumbs.db
ehthumbs.db
Desktop.ini
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
db.ini
deploy_key_rsa
.idea
