.blog-header li{
    float: right;
    list-style: none;
    font-size: 12px;
    margin-left: 20px;
        }
.blog-header li a{
    color: white;
}

.blog-header{
    position: fixed;
    font-size: 12px;
    height: 60px;
    background-color: #2459a2;
    z-index:1000;
}

.b-body .menus{
    width: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 60px;
    border-right: 1px solid #dddddd;
    background-color: #F5F5F5;
}
.content{
    position: absolute;
    left: 300px;
    right: 0;
    top: 60px;
    bottom: 0;
    min-width: 990px;
    overflow: scroll;
    z-index: 99;
}