<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-color: #fbfbfb;
        }
        .yan{
            position: absolute;
            right: 200px;
            top: 220px;
        }
        .page-header{
            background-color: white;
            border-bottom: 1px solid #ffa5c7;
        }
        .left img{
            position: relative;
            left: 100px;
            width: 390px;
            height: 300px;
        }
    </style>
</head>
<body>
    <div class="col-xs-12" style="height: 220px">
        <div class="page-header"></div>
    </div>
    <div class="outer">
        <div class="left" style="display: inline-block">
            <img src="/static/img/login.jpg">
        </div>
        <div class="col-xs-4 yan">
        <form class="form-horizontal" method="POST" action="/login.html" novalidate>
            {% csrf_token %}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              {{ obj.username }}
            </div>{{ obj.errors.username.0 }}
        </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          {{ obj.password }}
        </div>{{ obj.errors.password.0 }}
      </div>
     <div class="form-group">
        <label class="col-sm-2 control-label">验证码</label>
        <div class="col-sm-5">
          <input type="text" class="form-control"  placeholder="验证码" name="code">
        </div>
        <div class="col-sm-5">
          <img style="width: 120px;height: 30px;" src="/check_code/">
        </div><span style="color: red"> {{ msg }}</span>
      </div>
      <div class="form-group">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="rem"> Remember me
                    <input type="text" value="{{ url }}" name="url" style="display: none">
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <input type="submit" value="Sign in" class="btn btn-default">
            </div>
            </div>
      </div>
        </form>
        </div>
    </div>

</body>
</html>